.qlnguoidung{
    position: relative;
    .formdanhsach{
        .titleDanhSach{
            text-align: center;
            padding: 20px;
            font-size: 20px;
            font-weight: bold;
        }
        .bang{
            table{
                padding: 10px;
                margin: 0;
                width: 100%;
            }
            th{
                background-color: green;
                color: #fff;
                font-size: 18px;
            }
            td,th {
                border: 1px solid #dddddd;
                padding: 8px;
                text-align: center;
            }
            td{
                svg{
                    font-size: 20px;
                    padding: 10px;
                }
                .update{
                    color: green;
                    &:hover{
                        opacity: 0.5;
                    }
                }
                .delete{
                    color: red;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
            tr{
                &:hover{
                    cursor: pointer;
                    background-color: #dddddd;
                }
            }
        }
    }
    button{
        font-size: 18px;
        padding: 10px 20px;
        border: 1px solid green;
        background-color: green;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover{
            color: green;
            background-color: #fff;
            cursor: pointer;
        }
    }
    .modal{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .formModal{
            background-color: #fff;
            margin-top: 100px;
            margin-bottom: 10px;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            // height: 90vh;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.3s ease;
            overflow-y: auto;
            position: relative;
            .close-button {
                color: #aaa;
                float: right;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                margin-top: -10px;
            }
            .formA{
                width: 1005;
                #dk{
                    .title-login{
                        text-align: center;
                        padding: 20px;
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .formDk{
                        display: grid;
                        grid-template-columns: 25% 25% 25% 25%;
                        .ant-form-item{
                            padding: 5px;
                        }
                    }
                    .ant-form-item-control-input-content{
                        text-align: center;
                        button {
                            position: unset !important;
                            padding: 0;
                            width: 110px;
                        }
                }
                    
                }
            }
        }
    }
}