.box-search-job{
    background: linear-gradient(0deg, #fff, #e4fff0);
    padding: 0 10px;
    .box-search{
        display: grid;
        width: 70%;
        height: 200px;
        #frm-search-job{
            padding: 10px;
            background-color: #fff;
            border-radius: 20px;
            width: 100%;
            .group-search{
                display: flex;
                .item{
                    flex: 5;
                    width: 100%;
                    .form-input{
                        width: 90%;
                        font-size: 18px;
                        padding: 10px;
                        border: none;
                        color: #7b7b7b;
                    }
                    .form-input::placeholder{
                        color: #7b7b7b;
                        font-weight: bold;
                    }
                    .form-input:focus-visible{
                        outline: -webkit-focus-ring-color auto 0px !important;
                    }
                }
                .search-tinh{
                    flex: 2;
                    display: flex;
                    .icon{
                        margin: auto 0;
                        color: #7b7b7b;
                    }
                    .select-city{
                        margin: auto 0;
                        #city{
                            font-weight: bold;
                            padding: 10px;
                            font-size: 18px;
                            border: none;
                            color: #7b7b7b;
                        }
                        #city:focus-visible {
                            outline: -webkit-focus-ring-color auto 0px !important;
                        }
                    }
                }
                .search-nganhnghe{
                    flex: 2;
                    display: flex;
                    .icon{
                        margin: auto 0;
                        color: #7b7b7b;
                    }
                    .select-nghe{
                        margin: auto 0;
                        #nghe{
                            font-weight: bold;
                            padding: 10px;
                            font-size: 18px;
                            border: none;
                            color: #7b7b7b;
                        }
                        #nghe:focus-visible {
                            outline: -webkit-focus-ring-color auto 0px !important;
                        }
                    }
                }
                .button-search{
                    flex: 1;
                    margin-left: 10px;
                    button{
                        font-size: 18px;
                        width: 100%;
                        padding: 10px;
                        border-radius:10px ;
                        border: none;
                        background-color: green;
                        color: #fff;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    
                }
            }
        }
    }
}
.full-box-cv{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    padding: 10px;
    .link-deital{
        width: 100%;
        text-decoration: none;
        &:focus{
            color: green;
        }
        .box-cv {
            width: 100%;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
            &:hover {
                border: 1px solid #cdcdcd;
                cursor: pointer;
            }
    
            .box {
    
                display: flex;
    
                .img {
                    margin: 0;
                    display: flex;
                    img {
                        width: 75px;
                        height: 75px;
                    }
                }
    
                .infoCty {
                    margin: 0 10px;
    
                    .tenViec {
                        font-size: 20px;
                        font-weight: bold;
                    }
    
                    .tenCty {
                        padding: 5px 0;
                        font-size: 18px;
                        color: #7b7b7b;
                    }
    
                    .tt-ct {
                        display: flex;
    
                        .luong {
                            background-color: #cdcdcd;
                            padding: 3px 5px;
                            border-radius: 5px;
                            margin-left: 0;
                        }
    
                        .diadiem {
                            background-color: #cdcdcd;
                            padding: 3px 5px;
                            border-radius: 5px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    
}
