.quanlybaidanng{
    .headerCty {
        background: linear-gradient(90deg, #212f3f, #00b14f);
        .innerHeaderCty {
            color: #fff;
            margin-top: 145px;
            .bottomHeader {
                height: 250px;
                padding-left: 400px;
                position: relative;

                .tencty {
                    font-size: 50px;
                    font-weight: bold;
                    padding-top: 30px;

                }

                .thongTinCty {
                    padding-top: 30px;
                    display: flex;

                    .linkCty {
                        margin: 0;
                        display: flex;
                        font-size: 20px;

                        .tenlink {
                            margin-left: 20px;
                        }
                    }

                    .slNhanVien {
                        margin: 0;
                        padding-left: 100px;
                        display: flex;
                        font-size: 20px;

                        .slnv {
                            padding-left: 20px;
                        }
                    }
                }
                .btn-suathongtincty{
                    padding-top: 20px;
                    display: flex;
                    span{
                        padding: 15px 20px;
                        font-size: 20px;
                        background: #fff;
                        color: #00b14f;
                        box-sizing: border-box;
                        margin: 0;
                        border-radius: 10px;
                        font-weight: bold;
                        cursor: pointer;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
                .avtCty {
                    img {
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        position: absolute;
                        top: -50%;
                        left: 50px;
                    }
                }
            }
        }
    }

    .hainuaa {
        display: flex;

        .nua1 {
            margin: 0;
            flex: 2;

            .gioithieucongtyAd {
                margin-top: 40px;

                .bentronggioithieu {

                    .tieudeGt {
                        padding: 20px;
                        font-size: 30px;
                        font-weight: bold;
                        background: linear-gradient(90deg, #212f3f, #00b14f);
                        color: #fff;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;

                    }

                    .noidungGt {
                        padding: 20px;
                        font-size: 20px;
                        background-color: #f4f2f2;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;

                        pre {
                            white-space: pre-wrap;
                            word-wrap: break-word;
                        }
                    }
                }
            }

            .tuyendungCty {
                margin-top: 40px;
                margin-bottom: 40px;
                .bentrongtuyendung{
                    .tieudetd {
                        padding: 20px;
                        font-size: 30px;
                        font-weight: bold;
                        background: linear-gradient(90deg, #212f3f, #00b14f);
                        color: #fff;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        box-sizing: border-box;
                        a{
                            margin: 0;
                            text-decoration: none;
                        }
                        span {
                            margin: 0;
                        }
                        p{
                            margin: 0;
                            font-size: 20px;
                            padding: 10px 20px;
                            background: #fff;
                            color: #00b14f;
                            border-radius: 10px;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                    .search-tttuyendung {
                        padding: 20px;
                        font-size: 20px;
                        background-color: #f4f2f2;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;

                        #frm-search-job {
                            padding: 10px;
                            background-color: #fff;
                            border-radius: 20px;
                            width: 100%;
                            box-sizing: border-box;

                            .group-search {
                                display: flex;

                                .item {
                                    flex: 5;
                                    width: 100%;

                                    .form-input {
                                        width: 90%;
                                        font-size: 18px;
                                        padding: 10px;
                                        border: none;
                                        color: #7b7b7b;
                                    }

                                    .form-input::placeholder {
                                        color: #7b7b7b;
                                        font-weight: bold;
                                    }

                                    .form-input:focus-visible {
                                        outline: -webkit-focus-ring-color auto 0px !important;
                                    }
                                }

                                .search-tinh {
                                    flex: 2;
                                    display: flex;

                                    .icon {
                                        margin: auto 0;
                                        color: #7b7b7b;
                                    }

                                    .select-city {
                                        margin: auto 0;

                                        #city {
                                            font-weight: bold;
                                            padding: 10px;
                                            font-size: 18px;
                                            border: none;
                                            color: #7b7b7b;
                                        }

                                        #city:focus-visible {
                                            outline: -webkit-focus-ring-color auto 0px !important;
                                        }
                                    }
                                }

                                .search-nganhnghe {
                                    flex: 2;
                                    display: flex;

                                    .icon {
                                        margin: auto 0;
                                        color: #7b7b7b;
                                    }

                                    .select-nghe {
                                        margin: auto 0;

                                        #nghe {
                                            font-weight: bold;
                                            padding: 10px;
                                            font-size: 18px;
                                            border: none;
                                            color: #7b7b7b;
                                        }

                                        #nghe:focus-visible {
                                            outline: -webkit-focus-ring-color auto 0px !important;
                                        }
                                    }
                                }

                                .button-search {
                                    flex: 1;
                                    margin-left: 10px;

                                    button {
                                        font-size: 18px;
                                        width: 100%;
                                        padding: 10px;
                                        border-radius: 10px;
                                        border: none;
                                        background-color: green;
                                        color: #fff;
                                        font-weight: bold;
                                        cursor: pointer;
                                    }

                                }
                            }
                        }

                        .ttTuyendung {
                            margin-top: 10px;

                            .link-deital {
                                width: 100%;
                                text-decoration: none;

                                .box-cv {
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #fff;
                                    box-sizing: border-box;
                                    background-color: #fff;
                                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                    border-radius: 10px;
                                    margin-top: 10px;

                                    &:hover {
                                        border: 1px solid #cdcdcd;
                                        cursor: pointer;
                                    }

                                    .box {

                                        display: flex;

                                        .img {
                                            margin: 0;
                                            display: flex;
                                            img {
                                                width: 100px;
                                                height: 100px;
                                                border: 1px solid #cdcdcd;
                                                border-radius: 10px;
                                            }
                                        }

                                        .infoCty {
                                            margin: 0 10px;
                                            display: flex;
                                            flex-direction: column;

                                            .tenViec {
                                                font-size: 20px;
                                                font-weight: bold;
                                                margin: 0;
                                            }

                                            .tenCty {
                                                padding: 5px 0;
                                                font-size: 18px;
                                                color: #7b7b7b;
                                                margin: 0;
                                            }

                                            .tt-ct {
                                                display: flex;
                                                margin: 10px 0;
                                                .luong {
                                                    background-color: #cdcdcd;
                                                    padding: 3px 5px;
                                                    border-radius: 5px;
                                                    margin-left: 0;
                                                    margin-right: 10px;
                                                }

                                                .diadiem {
                                                    background-color: #cdcdcd;
                                                    padding: 3px 5px;
                                                    border-radius: 5px;
                                                    margin: 0 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }

        }

        .nua2 {
            margin: 0;
            flex: 1;

            .thongtinlienhe {
                margin-top: 40px;
                margin-left: 40px;

                .bentronglh {
                    .tieydelh {
                        padding: 20px;
                        font-size: 30px;
                        font-weight: bold;
                        background: linear-gradient(90deg, #212f3f, #00b14f);
                        color: #fff;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    .ndthongtin {
                        padding: 20px;
                        font-size: 20px;
                        background-color: #f4f2f2;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;

                        .box-chitiet {
                            display: flex;
                            margin-top: 17px;

                            .icon-chitiet {
                                margin: 0;
                                font-size: 20px;
                                color: #263a4d;
                                display: flex;
                                padding-right: 10px;

                                svg {
                                    margin: 0;
                                }

                                .tentitle {
                                    margin: 0;

                                    span {
                                        margin-left: 10px;
                                    }
                                }

                            }

                            .ttchitiet {
                                margin: 0;
                                font-size: 20px;
                                margin-left: 10px;
                                color: #212f3f;
                                font-weight: 600;

                                span {
                                    // display: -webkit-box;
                                    // -webkit-line-clamp: 2;
                                    // -webkit-box-orient: vertical;
                                    // overflow: hidden;
                                    // text-overflow: ellipsis;
                                    // white-space: normal;
                                }
                            }
                        }

                        iframe {
                            width: 100%;
                            height: 500px;
                        }
                    }
                }
            }
        }
    }
    .modal-chitietbaidang {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .chitietbaidang {
            background-color: #fff;
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            height: 90vh;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.3s ease;
            overflow-y: auto;
            position: relative;
            .capnhatvsxoa{
                top: 100px;
                right: 10px;
                font-size: 18px;
                .capnhat{
                    padding: 10px 20px;
                    background-color: green;
                    border-radius: 10px;
                    color: #fff;
                    font-weight: bold;
                    border: 1px solid green;
                    margin-right: 15px;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .xoa{
                    padding: 10px 20px;
                    background-color: red;
                    border-radius: 10px;
                    color: #fff;
                    font-weight: bold;
                    border: 1px solid red;
                    margin-right: 15px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                .list-uv{
                    padding: 10px 20px;
                    background-color:#fff ;
                    border-radius: 10px;
                    color: green;
                    font-weight: bold;
                    border: 1px solid green;
                    margin-right: 15px;
                    cursor: pointer;
                
                    &:hover {
                        background-color: green;
                        color: #fff;
                    }
                }
            }
            .close-button {
                color: #aaa;
                float: right;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                margin-top: -10px;
            }
            .formDangBai {
                .tieudeBaidang {
                    margin: 20px;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    span {
                        border-bottom: 1px solid green;
                    }
                }
                .tieudemuc {
                    padding: 10px;
                    font-size: 18px;
                    font-weight: bold;
                }
                .fullprofile {
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    box-sizing: border-box;
                    .name {
                        width: 100%;
                        padding: 5px 5px;
                        box-sizing: border-box;
                        input {
                            width: 100%;
                            padding: 10px;
                            box-sizing: border-box;
                            font-size: 16px;
                            border-radius: 10px;
                            border: 1px solid #d9d9d9;
                            &:focus-visible {
                                outline: -webkit-focus-ring-color auto 0px !important;
                            }
                        }
                    }
                    .genner {
                        width: 100%;
                        padding: 5px 5px;
                        box-sizing: border-box;
                        select {
                            width: 100%;
                            padding: 10px;
                            box-sizing: border-box;
                            font-size: 16px;
                            border-radius: 10px;
                            border: 1px solid #d9d9d9;
                            &:focus-visible {
                                outline: -webkit-focus-ring-color auto 0px !important;
                            }
                        }
                    }
                    .birthday {
                        width: 100%;
                        .ant-space {
                            width: 100%;
                            .ant-space-item {
                                margin: 0;
                                padding: 5px 5px;
                                box-sizing: border-box;
                                .ant-picker {
                                    width: 100%;
                                    padding: 9px 10px;
                                    border-radius: 10px;
                                    border: 1px solid #d9d9d9;
                                    &:focus-visible {
                                        outline: -webkit-focus-ring-color auto 0px !important;
                                    }
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .exp {
                        width: 100%;
                        padding: 5px 5px;
                        box-sizing: border-box;

                        select {
                            width: 100%;
                            padding: 10px;
                            box-sizing: border-box;
                            font-size: 16px;
                            border-radius: 10px;
                            border: 1px solid #d9d9d9;

                            &:focus-visible {
                                outline: -webkit-focus-ring-color auto 0px !important;
                            }
                        }
                    }

                    .tinh {
                        width: 100%;
                        padding: 5px 5px;
                        box-sizing: border-box;

                        select {
                            width: 100%;
                            padding: 10px;
                            box-sizing: border-box;
                            font-size: 16px;
                            border-radius: 10px;
                            border: 1px solid #d9d9d9;

                            &:focus-visible {
                                outline: -webkit-focus-ring-color auto 0px !important;
                            }
                        }
                    }
                }

                .comment {
                    padding: 5px 10px 5px 5px;
                    box-sizing: border-box;

                    textarea {
                        border: 1px solid #d9d9d9;
                        border-radius: 10px;
                        padding: 10px;
                        box-sizing: border-box;
                        font-size: 16px;
                        width: 100%;
                        height: 100px;

                        &:focus-visible {
                            outline: -webkit-focus-ring-color auto 0px !important;
                        }
                    }
                }

                .mg-bt20 {
                    margin-bottom: 20px;
                }
            }
        }
        .modalUV{
            background-color: #fff;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            height: 91vh;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.3s ease;
            overflow-y: auto;
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            bottom: 0;
            .close-button-listuv{
                color: #aaa;
                float: right;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                margin-top: -10px;
            }
            .formlistUV{
                .titleList{
                    p{
                        text-align: center;
                    }
                    .tiltle-vt{
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .tenVt{
                        font-size: 18px;
                        span{
                            font-weight: bold;
                        }
                    }
                }
                .listUV {
                    margin-top: 20px;
                    .innerList{
                        display: grid;
                        grid-template-columns: 32% 32% 32%;
                        gap: 1%;
                        .uv{
                            display: flex;
                            flex-direction: row;
                            border: 1px solid #cdcdcd;
                            padding: 10px;
                            border-radius: 10px;
                            width: 100%;
                            box-sizing: border-box;
                            justify-content: space-between;
                            .tt{
                                display: flex;
                                margin: 0;
                                .avtUv {
                                    display: flex;
                                    margin: 0;
                                    img {
                                        width: 100px;
                                        height: 100px;
                                        border-radius: 10px;
                                    }
                                }
                                .tt-uv{
                                    margin: 0;
                                    padding: 10px;
                                    .nameUv{
                                        font-size: 16px;
                                        font-weight: bold;
                                    }
                                    .mg-bt5{
                                        margin-bottom: 5px;
                                    }
                                    .fileCvPdf{
                                        cursor: pointer;
                                    }
                                }
                            }
                            .buttonCn{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                margin: 0;
                                button{
                                    width: 60px;
                                    height: 30px;
                                    cursor: pointer;
                                }
                                .duyet{
                                    border: 1px solid green;
                                    background-color: #fff;
                                    color: green;
                                    border-radius: 10px;
                                    &:hover{
                                        background-color: green;
                                        color: #fff;
                                    }
                                }
                                .huy {
                                    border: 1px solid red;
                                    background-color: #fff;
                                    color: red;
                                    border-radius: 10px;

                                    &:hover {
                                        background-color: red;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .modalChitietUV{
            background-color: #fff;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            height: 91vh;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.3s ease;
            overflow-y: auto;
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            bottom: 0;
            .close-button-listuv {
                color: #aaa;
                float: right;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                margin-top: -10px;
            }
        }
    }
}