.headerCty{
    background: linear-gradient(90deg, #212f3f, #00b14f);
    .innerHeaderCty{
        color: #fff;
        margin-top: 145px;
        .bottomHeader{
            height: 250px;
            padding-left: 400px;
            position: relative;
            .tencty{
                font-size: 50px;
                font-weight: bold;
                padding-top: 30px;
                
            }
            .thongTinCty{
                padding-top: 30px;
                display: flex;
                .linkCty{
                    margin: 0;
                    display: flex;
                    font-size: 20px;
                    .tenlink{
                        margin-left: 20px;
                    }
                }
                .slNhanVien{
                    margin: 0;
                    padding-left: 100px;
                    display: flex;
                    font-size: 20px;
                    .slnv{
                        padding-left: 20px;
                    }
                }
            }
            .avtCty{
                img{
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    position: absolute;
                    top: -50%;
                    left: 50px;
                }
            }
        }
    }
}
.hainua{
    display: flex;
    .nua1{
        margin: 0;
        flex: 2;
        .gioithieucongty{
            margin-top: 40px;
            .bentronggioithieu{
                
                .tieudeGt{
                    padding: 20px;
                    font-size: 30px;
                    font-weight: bold;
                    background: linear-gradient(90deg, #212f3f, #00b14f);
                    color: #fff;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                }
                .noidungGt{
                    padding: 20px;
                    font-size: 20px;
                    background-color: #f4f2f2;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    pre{
                        white-space: pre-wrap;
                        word-wrap: break-word;
                    }
                }
            }
        }
        .tuyendungCty{
            margin-top: 40px;
            margin-bottom: 40px;
            .tieudetd{
                padding: 20px;
                font-size: 30px;
                font-weight: bold;
                background: linear-gradient(90deg, #212f3f, #00b14f);
                color: #fff;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .search-tttuyendung{
                padding: 20px;
                font-size: 20px;
                background-color: #f4f2f2;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                #frm-search-job {
                    padding: 10px;
                    background-color: #fff;
                    border-radius: 20px;
                    width: 100%;
                    box-sizing: border-box;
                    .group-search {
                        display: flex;
            
                        .item {
                            flex: 5;
                            width: 100%;
            
                            .form-input {
                                width: 90%;
                                font-size: 18px;
                                padding: 10px;
                                border: none;
                                color: #7b7b7b;
                            }
            
                            .form-input::placeholder {
                                color: #7b7b7b;
                                font-weight: bold;
                            }
            
                            .form-input:focus-visible {
                                outline: -webkit-focus-ring-color auto 0px !important;
                            }
                        }
            
                        .search-tinh {
                            flex: 2;
                            display: flex;
            
                            .icon {
                                margin: auto 0;
                                color: #7b7b7b;
                            }
            
                            .select-city {
                                margin: auto 0;
            
                                #city {
                                    font-weight: bold;
                                    padding: 10px;
                                    font-size: 18px;
                                    border: none;
                                    color: #7b7b7b;
                                }
            
                                #city:focus-visible {
                                    outline: -webkit-focus-ring-color auto 0px !important;
                                }
                            }
                        }
            
                        .search-nganhnghe {
                            flex: 2;
                            display: flex;
            
                            .icon {
                                margin: auto 0;
                                color: #7b7b7b;
                            }
            
                            .select-nghe {
                                margin: auto 0;
            
                                #nghe {
                                    font-weight: bold;
                                    padding: 10px;
                                    font-size: 18px;
                                    border: none;
                                    color: #7b7b7b;
                                }
            
                                #nghe:focus-visible {
                                    outline: -webkit-focus-ring-color auto 0px !important;
                                }
                            }
                        }
            
                        .button-search {
                            flex: 1;
                            margin-left: 10px;
            
                            button {
                                font-size: 18px;
                                width: 100%;
                                padding: 10px;
                                border-radius: 10px;
                                border: none;
                                background-color: green;
                                color: #fff;
                                font-weight: bold;
                                cursor: pointer;
                            }
            
                        }
                    }
                }
                .ttTuyendung {
                    margin-top: 10px;
                    .link-deital {
                        width: 100%;
                        text-decoration: none;
                        &:focus{
                            color: green;
                        }
                        .box-cv {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #fff;
                            box-sizing: border-box;
                            background-color: #fff;
                            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                            border-radius: 10px;
                            margin-top: 10px;
                            &:hover {
                                border: 1px solid #cdcdcd;
                                cursor: pointer;
                            }

                            .box {

                                display: flex;

                                .img {
                                    margin: 0;
                                    display: flex;
                                    img {
                                        width: 100px;
                                        height: 100px;
                                        border: 1px solid #cdcdcd;
                                        border-radius: 10px;
                                    }
                                }

                                .infoCty {
                                    margin: 0 10px;
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    .tenViec {
                                        font-size: 20px;
                                        font-weight: bold;
                                        margin: 0;
                                    }

                                    .tenCty {
                                        padding: 5px 0;
                                        font-size: 18px;
                                        color: #7b7b7b;
                                        margin: 0;
                                    }

                                    .tt-ct {
                                        display: flex;
                                        margin: 10px 0 0 0;
                                        .luong {
                                            background-color: #cdcdcd;
                                            padding: 3px 5px;
                                            border-radius: 5px;
                                            margin: 0;
                                        }

                                        .diadiem {
                                            background-color: #cdcdcd;
                                            padding: 3px 5px;
                                            border-radius: 5px;
                                            margin: 0 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .nua2{
        margin: 0;
        flex: 1;
        .thongtinlienhe{
            margin-top: 40px;
            margin-left: 40px;
            .bentronglh{
                .tieydelh{
                    padding: 20px;
                    font-size: 30px;
                    font-weight: bold;
                    background: linear-gradient(90deg, #212f3f, #00b14f);
                    color: #fff;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .ndthongtin{
                    padding: 20px;
                    font-size: 20px;
                    background-color: #f4f2f2;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    .box-chitiet {
                        display: flex;
                        margin-top: 17px;
                
                        .icon-chitiet {
                            margin: 0;
                            font-size: 20px;
                            color: #263a4d;
                            display: flex; 
                            padding-right: 10px;
                            svg {
                                margin: 0;
                            }
                
                            .tentitle {
                                margin: 0;
                
                                span {
                                    margin-left: 10px;
                                }
                            }
                
                        }
                
                        .ttchitiet {
                            margin: 0;
                            font-size: 20px;
                            margin-left: 10px;
                            color: #212f3f;
                            font-weight: 600;
                
                            span {
                                // display: -webkit-box;
                                // -webkit-line-clamp: 2;
                                // -webkit-box-orient: vertical;
                                // overflow: hidden;
                                // text-overflow: ellipsis;
                                // white-space: normal;
                            }
                        }
                    }
                    iframe{
                        width: 100%;
                        height: 500px;
                    }
                }
            }
        }
    }
}