.thembaidang{
    .formDangBai{
        position: relative;
        .tieudeBaidang {
            margin: 20px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            span{
                border-bottom: 1px solid green;
            }
        }
        .tieudemuc{
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        .fullprofile {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            box-sizing: border-box;
            

            .name {
                width: 100%;
                padding: 5px 5px;
                box-sizing: border-box;

                input {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid #d9d9d9;

                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px !important;
                    }
                }
            }

            .genner {
                width: 100%;
                padding: 5px 5px;
                box-sizing: border-box;

                select {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid #d9d9d9;

                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px !important;
                    }
                }
            }

            .birthday {
                width: 100%;

                .ant-space {
                    width: 100%;

                    .ant-space-item {
                        margin: 0;
                        padding: 5px 5px;
                        box-sizing: border-box;

                        .ant-picker {
                            width: 100%;
                            padding: 9px 10px;
                            border-radius: 10px;
                            border: 1px solid #d9d9d9;

                            &:focus-visible {
                                outline: -webkit-focus-ring-color auto 0px !important;
                            }

                            font-size: 16px;
                        }
                    }
                }
            }

            .exp {
                width: 100%;
                padding: 5px 5px;
                box-sizing: border-box;

                select {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid #d9d9d9;

                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px !important;
                    }
                }
            }

            .tinh {
                width: 100%;
                padding: 5px 5px;
                box-sizing: border-box;

                select {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 1px solid #d9d9d9;

                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px !important;
                    }
                }
            }
        }
        .comment {
            padding: 5px 10px 5px 5px;
            box-sizing: border-box;

            textarea {
                border: 1px solid #d9d9d9;
                border-radius: 10px;
                padding: 10px;
                box-sizing: border-box;
                font-size: 16px;
                width: 100%;
                height: 100px;

                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 0px !important;
                }
            }
        }
        .mg-bt20{
            margin-bottom: 20px;
        }
        .btnSubmit{
            text-align: center;
            margin-bottom: 10px;
            button{
                padding: 10px 20px;
                border-radius: 10px;
                color: #fff;
                background-color: green;
                cursor: pointer;
                font-size: 20px;
                border: 1px solid green;
                font-weight: 600;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}