.footer {
    background-color: #165416;
    padding: 20px;
    .grid{
        display: grid;
        grid-template-columns: 30% 70%;
        .footer-col{
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
        .thanhvien{
            display: flex;
            flex-direction: column;
            .truongnhom{
                margin-bottom: 10px;
            }
            .thanhviens{
                display: flex;
                flex-direction: row;
                .thanhvien1,
                .thanhvien2{
                    padding: 10px 20px;
                }
            }
            .truongnhom,
            .thanhviens{
                .chucvu{
                    p{
                        font-size: 20px;
                        color: #cdcdcd;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                .ten{
                    p {
                        font-size: 20px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}